@import '_variables';

* {
	box-sizing: border-box;
}

@mixin header($height) {
	font-family: $logo-font;
	font-size: 24px;
	color: white;
	background-color: $primary-color;
	float: right;
	height: $height;
	line-height: $height;
	padding: 0 10px;
	text-transform: uppercase;
}

@mixin column($width-percent, $gutter) {
	position: absolute !important;
	top: 0;
	bottom: 0;
	width: calc(#{$width-percent} - #{$gutter});
}

@mixin editor($width, $top, $bottom) {
	position: absolute;
	overflow: auto;
	top: $top;
	bottom: $bottom;
	width: $width;
}

@mixin gutter($width) {
	position: absolute;
	width: $width;
	top: 0;
	bottom: 0;
}

@mixin button($color) {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	border-radius: 0;
	background: $color;
}

@mixin page-container() {
	background: #191919;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@mixin side-bar($side-bar-width) {
	z-index: 20;
	width: $side-bar-width;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -$side-bar-width;
}