* {
	box-sizing: border-box;
}

@mixin column($width-percent, $gutter) {
	position: absolute;
	top: 0;
	bottom: 0;
	width: calc(#{$width-percent} - #{$gutter});
}

@mixin editor($width, $top, $bottom) {
	position: absolute;
	overflow: auto;
	top: $top;
	bottom: $bottom;
	width: $width;
}

@mixin tab-bar($height, $top) {
	position: absolute;
	height: $height;
	left: 0;
	right: 0;
	top: $top;
}

@mixin header($height) {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	height: $height;
}

@mixin footer($height) {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: $height;
}

@mixin page-container() {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}