* {
	box-sizing: border-box;
}

@mixin column($width-percent, $gutter) {
	position: absolute !important;
	top: 0;
	bottom: 0;
	width: calc(#{$width-percent} - #{$gutter});
}

@mixin editor($width, $top, $bottom) {
	position: absolute;
	overflow: auto;
	top: $top;
	bottom: $bottom;
	width: $width;
}

@mixin gutter($width) {
	position: absolute;
	width: $width;
	top: 0;
	bottom: 0;
}

@mixin page-container() {
	background: #191919;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@mixin side-bar() {
	z-index: 20;
	background: green;
	width: 25%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -100%;
}