@import url(http://fonts.googleapis.com/css?family=Kalam:300);

$logo-font: 'Kalam', sans-serif;
$primary-color: #3F91EB;
$secondary-color: #FAC100;
$side-bar-width: 200px;
$editor-padding: 40px;
$header-height: $editor-padding;
$column-width-percent: 33.333333333333%;
$column-gutter: 15px;
$slide-animation: all 0.5s;
$expander-button-width: 20px;