@import '_reset';
@import '_layout';

$header-height: 10px;
$footer-height: 20px;
$tabbar-height: 35px;
$column-width-percent: 33.333333333333%;
$column-gutter: 20px;

body {
	@include page-container();
}

header {
	background-color: orange;
	@include header($header-height);
}

main {
	@include editor(100%, $header-height + $tabbar-height, $footer-height);
}

.column {
	@include column($column-width-percent, $column-gutter);

	&:first-child {
		pointer-events: none;
		left: 0;
	}
	&:nth-child(2) {
		left: calc(#{$column-width-percent} + #{$column-gutter} / 2);
	}
	&:last-child {
		pointer-events: none;
		right: 0;
	}
}

.gutter {
	@include gutter($column-gutter);
}

.tab-bar {
	background-color: grey;
	@include tab-bar($tabbar-height, $header-height);
}

footer {
	@include footer($footer-height);
}