@import '_reset';
@import '_layout';

$editor-padding: 20px;
$column-width-percent: 33.333333333333%;
$column-gutter: 15px;
$slide-animation: all 0.5s;

body {
	@include page-container();
}

main {
	@include editor(100%, $editor-padding, $editor-padding);

}

.column {
	@include column($column-width-percent, $column-gutter);

	&:first-child {
		pointer-events: none;
		left: 0;
	}
	&:nth-child(2) {
		left: calc(#{$column-width-percent} + #{$column-gutter} / 2);
	}
	&:last-child {
		pointer-events: none;
		right: 0;
	}
}

.side-bar {
	@include side-bar();
	transition: $slide-animation;

	&.active {
		left: 0px;
	}
}

.gutter {
	@include gutter($column-gutter);
}

.highlight {
	.yours {
		background-color: green;
	}
	.theirs {
		background-color: blue;
	}
}