@import '_reset';
@import '_layout';
@import '_variables';

body {
	@include page-container();
}

main {
	@include editor(100%, $editor-padding, $editor-padding);

}

header {
	@include header($header-height);
}

.column {
	@include column($column-width-percent, $column-gutter);

	&:first-child {
		pointer-events: none;
		left: 0;
	}
	&:nth-child(2) {
		left: calc(#{$column-width-percent} + #{$column-gutter} / 2);
	}
	&:last-child {
		pointer-events: none;
		right: 0;
	}
}

.side-bar {
	@include side-bar($side-bar-width);
	transition: $slide-animation;
	background: $secondary-color;

	&.active {
		left: 0px;
	}

	.expander {
		@include button($secondary-color);
		width: $expander-button-width;
		right: -$expander-button-width;
		position: absolute;
		top: 50%;
		height: 20px;

		&:hover {
			cursor: pointer;
		}
	}
}

.gutter {
	@include gutter($column-gutter);
}

.highlight {
	.yours {
		background-color: green;
	}
	.theirs {
		background-color: blue;
	}
}