@import 'reset';
@import 'codemirror';
@import 'codemirrormerge';
@import 'theme';

// Setup
html, body {
  background-color: #333;
}

// Convenience classes
.hidden {
  display: none;
}

.toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ccc;
  height: 50px;
}