/*
 *  Solarized Theme
 */
.CodeMirror-merge-gap {
    background-color: #002b36;
    color: #839496;   
}
.cm-s-solarized-dark {
  background-color: #002b36;
  color: #839496;
  .emphasis {
    font-weight: bold;
  }
  .dotted {
    border-bottom: 1px dotted #cb4b16;
  }
  .CodeMirror-gutter {
    background-color: #073642;
    border-right: 3px solid #073642;
    .CodeMirror-gutter-text {
      color: #586e75;
    }
  }
  .CodeMirror-cursor {
    border-left-color: #fdf6e3 !important;
  }
  .CodeMirror-matchingbracket {
    color: #fdf6e3;
    background-color: #073642;
    box-shadow: 0 0 10px #073642;
    font-weight: bold;
  }
  .CodeMirror-nonmatchingbracket {
    color: #fdf6e3;
    background-color: #073642;
    box-shadow: 0 0 10px #073642;
    font-weight: bold;
    color: #dc322f;
    border-bottom: 1px dotted #cb4b16;
  }
  span {
    &.cm-keyword {
      color: #839496;
      font-weight: bold;
    }
    &.cm-atom {
      color: #2aa198;
    }
    &.cm-number {
      color: #93a1a1;
    }
    &.cm-def {
      color: #268bd2;
    }
    &.cm-variable, &.cm-variable-2, &.cm-variable-3 {
      color: #cb4b16;
    }
    &.cm-comment {
      color: #586e75;
    }
    &.cm-property {
      color: #b58900;
    }
    &.cm-operator {
      color: #839496;
    }
    &.cm-string {
      color: #6c71c4;
    }
    &.cm-error {
      font-weight: bold;
      border-bottom: 1px dotted #cb4b16;
    }
    &.cm-bracket {
      color: #cb4b16;
    }
    &.cm-tag {
      color: #839496;
    }
    &.cm-attribute {
      color: #93a1a1;
      font-weight: bold;
    }
    &.cm-meta {
      color: #268bd2;
    }
  }
}