@import 'reset';
@import 'codemirror';
@import 'codemirrormerge';
@import 'theme';

// Setup
html, body {
  font-family: 'Droid Sans Mono', sans-serif;
  background-color: #002b36;
  color: #839496;   
}

// Convenience classes
.hidden {
  display: none;
}

h1 {
  font-style: italic;
  margin-left: 20px;
  font-size: 20px;
  line-height: 36px;
}

// The area that Code Mirror builds into
#git-diff {
    position: absolute;
    top: 60px;
    left: 20px;
    right: 20px;
    bottom: 70px;
}

.titles {
  margin: 0 20px;

  h3 {
    display: inline-block;
    width: 33.9%;
    color: #44ee44;

    &:first-child {
      color: #eeeeff;
    }

    &:last-child {
      color: #ffffe0;
      width: auto;
    }
  }
}

/*
 *  Layout
 */
.CodeMirror-merge {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}
.CodeMirror-merge .CodeMirror,
.CodeMirror-merge-pane {
  height: 100%;
}
.CodeMirror-merge-gap {
    background-color: #002b36;
    color: #839496;   
}

// Toolbar
.toolbar {
  border-top: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #073642;
  height: 50px;
}

// Buttons
button {
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  outline: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  margin: 8px 0 0 10px;
  float: right;
  background-color: #6C71C4;
}
.save {
  background-color: #0f8bd2;
}
.cancel {
  background-color: #C43D31;
  margin-right: 20px;
}