<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Sick Merge</title>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/build/css/main.css">
	</head>
	<body>
		<div class="hidden">
			<p class="yours"><%- body[0] %></p>
			<p class="both"><%- body[1] %></p>
			<p class="theirs"><%- body[2] %></p>
		</div>
		
		<div id="split-left"></div>
		<div id="split-middle"></div>
		<div id="split-right"></div>
		
		<div class="toolbar">
			<button button type="button" class="btn btn-primary" data-id="save-file">Save File</button>
			<button button type="button" class="btn btn-default" data-id="cancel">Cancel</button>
		</div>
		<script src="/build/js/main.js"></script>
	</body>
</html>