<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Sickmerge</title>
		<link rel="stylesheet" href="/build/css/main.css">
	</head>
	<body>

		<h1>Merging: <%= title %></h1>
		<div class="titles">
			<h3>Local</h3>
			<h3>Result</h3>
			<h3>Incoming</h3>
		</div>
		<div id="git-diff" spellcheck="false"></div>

		<div class="toolbar">
			<button class="cancel" id="cancel">Cancel</button>
			<button class="hide-diff" id="hide-diff">Toggle Differences</button>
			<button class="theirs" id="merge-theirs">Accept Theirs</button>
			<button class="yours" id="merge-yours">Accept Yours</button>
			<button class="save" id="save-file">Save</button>
		</div>
		<script src="/build/js/main.js"></script>
	</body>
</html>